name: Update Age

on:
  schedule:
    - cron: "0 3 * * *"
  workflow_dispatch:

jobs:
  update-age:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Calculate Age
        run: |
          BIRTH_YEAR=2009
          CURRENT_YEAR=$(date +%Y)
          AGE=$((CURRENT_YEAR - BIRTH_YEAR))
          sed -i "s/Idade atual: .*/Idade atual: $AGE anos/" README.md

      - name: Commit changes
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add README.md
          git commit -m "Atualizando idade automaticamente" || echo "No changes"
          git push
